body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
  }
  
  .login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .login-box h2 {
    text-align: center;
    font-size: 22px;
  }
  
  .user-box {
    position: relative;
    margin: 30px 0;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
  }
  
  .user-box a {
    display: inline-block;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 30px 0;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .user-box a:hover {
    background: #03a9f4;
    color: #fff;
  }
  
  .user-box a span {
    position: absolute;
    display: block;
  }
  
  .user-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03a9f4);
    animation: animate1 2s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }
  
  .user-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03a9f4);
    animation: animate2 2
  }